@import '../../global-styles/media.scss';
@import '../../global-styles/colors.scss';
@import '../../global-styles/fonts-sizes.scss';

.MaterialsPage {
  &__layout {
    align-items: start;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    justify-content: space-between;
    min-height: 90vh;
    padding: 100px 0 20px;
    width: 100%;

    @include media-tablet-landscape {
      align-items: center;
      flex-direction: column;
      justify-content: normal;
      padding-top: 20px;
      width: 100%;
    }

    @include media-mobile {
      align-items: center;
      flex-direction: column;
      justify-content: normal;
      padding-top: 20px;
      width: 95%;
    }
  }

  &__nav {
    flex-shrink: 0;
    list-style: none;
    text-align: start;

    @include media-tablet {
      margin-right: 5px;
    }

    @include media-tablet-landscape {
      margin-right: 0;
    }

    @include media-mobile {
      margin-right: 0;
    }
  }

  &__link {
    li {
      color: $textColor;
      cursor: pointer;
      font-size: $fontSizeMain;
      line-height: $lineHeight;
      margin-top: 17px;
      padding: 0 20px;
      position: relative;
      text-align: right;
      text-transform: capitalize;

      &:hover {
        color: $linkHoverColor;

        &::after {
          background: $navColor;
        }
      }

      &::after {
        background: $mainColorDark;
        bottom: 0;
        content: '';
        height: 100%;
        left: calc(100% - 1px);
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.33s all ease-in;
        z-index: 1;
      }
    }

    &_active {
      li {
        color: $navColor;

        &::after {
          background: $navColor;
        }
      }
    }
  }
}
