@import '../../global-styles/media.scss';
@import '../../global-styles/colors.scss';
@import '../../global-styles/fonts-sizes.scss';

.MaterialsBoard {
  flex-grow: 1;
  padding: 0 60px;

  img {
    bottom: 10px;
    position: absolute;
    right: 10px;
    width: 20%;
  }

  &__title {
    font-size: $fontSizeMain;
  }

  @include media-tablet {
    width: 300px;
  }

  @include media-tablet-landscape {
    width: 550px;
  }

  @include media-mobile {
    width: 100%;
  }
}

.Materials {
  &__item {
    margin: 0;
    text-align: left;

    p {
      font-style: italic;
      margin: 0;
    }

    a {
      color: $navColor;
      font-size: $fontSizeMain;

      &:hover {
        color: $linkHoverColor;
      }
    }
  }

  &__name {
    color: $navColor;
    font-size: 18px;
  }

  &__title {
    font-size: $subHeadingFontSize;
    font-weight: bold;
    margin-top: 20px;
    text-align: left;
  }
}
