@import '../../global-styles/global.scss';

.TableView {
  &__img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  &__about {
    height: auto;
    max-height: 200px;
    overflow: auto;
    text-overflow: ellipsis;
  }
}

.ant-table-tbody > tr > td {
  height: 50px !important;
}

.ant-table-thead > tr > th {
  font-weight: bold !important;
}

.ant-table-cell:nth-child(3) {
  padding: 0;
}

.ant-btn-dashed {
  &:hover {
    border-color: $navColor;
  }
}
