@import '../../global-styles/global.scss';

.TableView {
  &__img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  &__about {
    height: auto;
    max-height: 200px;
    overflow: auto;
    text-overflow: ellipsis;
  }

  &__publication {
    color: $navColor;

    &:hover {
      color: $linkHoverColor;
    }
  }

  &__contact {
    color: $navColor;

    &:hover {
      color: $linkHoverColor;
    }
  }

  &__link {
    color: $navColor;

    &:hover {
      color: $linkHoverColor;
    }
  }

  &__addBtn {
    border-radius: 50%;
    bottom: 10%;
    height: 50px;
    position: fixed;
    right: 5%;
    width: 50px;

    &:hover {
      background-color: $navColor;
      border-color: $mainColor;
      color: $mainColor;
    }
  }
}

.ant-table-tbody > tr > td {
  height: 50px !important;
}

.ant-table-thead > tr > th {
  font-weight: bold !important;
}

.ant-table-cell:nth-child(3) {
  padding: 0;
}

.ant-btn-dashed {
  &:hover {
    border-color: $navColor;
  }
}
