.TableView {
  &__img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  &__about {
    height: auto;
    max-height: 200px;
    overflow: auto;
    text-overflow: ellipsis;
  }

  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;

    &-track {
      background: #f1f1f1;
      border-radius: 5px;
    }

    &-thumb {
      background: #888;
      border-radius: 5px;

      &:hover {
        background: #555;
      }
    }
  }
}

.ant-table-tbody > tr > td {
  height: 50px !important;
}

.ant-table-thead > tr > th {
  font-weight: bold !important;
}

.ant-table-cell:nth-child(3) {
  padding: 0;
}
