$navColor: #a52423;
$navColorFade: #a52323b7;
$linkHoverColor: #cc6262;
$mainColor: #fff4de;
$mainColorDark: #dbd2c0;
$shadowColor: rgba(0, 0, 0, 0.64);
$secondMainColor: #f6f0f0;
$textColor: rgb(26, 24, 24);
