@import './colors.scss';

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: start;
  margin-top: 48px;
  position: relative;
  text-align: center;
  width: 100vw;
}

.ant-spin-dot-item {
  background-color: $navColor;
}

.ant-spin-spinning {
  margin-top: calc(50vh - 50px);
}
