@import './colors.scss';

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.button {
  background: $navColor;
  border: 1px solid $navColor;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 $shadowColor;
  color: $mainColor;
  cursor: pointer;
  height: 38px;
  outline: none;
  transition: all 0.4s ease-in-out;
  width: 160px;

  &:hover {
    transform: scale(1.1);
  }
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  margin-top: 48px;
  position: relative;
  text-align: center;
  width: 100%;
}
