@import '../../global-styles/media.scss';
@import '../../global-styles/colors.scss';
@import '../../global-styles/fonts-sizes.scss';

.TeachersPage {
  padding-top: 50px;

  &__title {
    @include media-tablet {
      max-width: 500px;
    }

    @include media-mobile {
      max-width: 300px;
    }
  }

  @include media-tablet {
    height: 100vh;
    padding-top: 50px;
  }

  @include media-mobile {
    padding-top: 30px;
  }
}
