@import '../../global-styles/media.scss';

.Logo {
  cursor: pointer;
  display: block;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;

  @include media-tablet {
    font-size: 8px;
  }

  @include media-mobile {
    display: none;
  }
}
