@import '../../global-styles/media.scss';
@import '../../global-styles/colors.scss';

.Label {
  border: 2px solid $navColor;
  border-top: 10px solid $navColorFade;
  color: $navColorFade;
  font-weight: 700;
  left: 20px;
  padding: 10px;
  position: absolute;
  text-transform: uppercase;
  top: 17px;

  @include media-mobile {
    display: none;
  }
}
