@import '../../global-styles/media.scss';
@import '../../global-styles/colors.scss';
@import '../../global-styles/fonts-sizes.scss';

.MainPage {
  overflow: hidden;

  &__btn {
    height: 50px;
    width: 200px;

    @include media-tablet {
      font-size: 18px;
    }

    @include media-mobile {
      font-size: 14px;
      height: 40px;
      width: 160px;
    }
  }

  &__title {
    animation: fadeIn 2s ease-out forwards;
    color: $navColor;
    font-size: $headingFontSize;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    transition: all 0.3s ease-out;

    @include media-tablet {
      font-size: $headingFontSize / 1.5;
    }

    @include media-mobile {
      font-size: $headingFontSize / 2;
      font-weight: bold;
    }
  }

  &__icon {
    margin-left: -20px;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100vh;
    z-index: -1;
  }

  &__description {
    animation: fadeIn 2s ease-out forwards;
    font-size: $subHeadingFontSize;
    margin-bottom: 30px;
    max-width: 800px;

    @include media-tablet {
      font-size: $subHeadingFontSize / 1.5;
    }

    @include media-mobile {
      font-size: $subHeadingFontSize / 2;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
