@import '../../global-styles/media.scss';
@import '../../global-styles/colors.scss';

.MainPage {
  overflow: hidden;

  &__btn {
    font-size: 20px;
    height: 50px;
    margin-top: 30px;
    width: 200px;

    @include media-tablet {
      font-size: 18px;
      margin-top: 20px;
    }

    @include media-mobile {
      font-size: 14px;
      height: 40px;
      width: 160px;
    }
  }

  &__title {
    animation: fadeIn 2s ease-out forwards;
    color: $navColor;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: calc(100px + 3%);
    text-transform: uppercase;
    transition: all 0.3s ease-out;

    @include media-tablet {
      font-size: 30px;
      max-width: 500px;
    }

    @include media-mobile {
      font-size: 20px;
      font-weight: bold;
      margin-top: calc(60px + 3%);
      width: 300px;
    }
  }

  &__icon {
    margin-left: -20px;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100vh;
    z-index: -1;
  }

  &__description {
    animation: fadeIn 2s ease-out forwards;
    font-size: 24px;
    margin-bottom: 30px;
    max-width: 900px;

    @include media-tablet {
      font-size: 18px;
      max-width: 400px;
    }

    @include media-mobile {
      font-size: 14px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
