@import '../../global-styles/media.scss';
@import '../../global-styles/colors.scss';
@import '../../global-styles/global.scss';

.Nav {
  background-color: $navColor;
  box-shadow: 0 4px 14px 0 $shadowColor;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;

  &__layout {
    align-items: center;
    color: $mainColor;
    display: flex;
    justify-content: space-between;
    left: 0;
    max-height: 70px;
    padding: 10px 20px;

    @include media-tablet {
      padding: 10px 10px;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 70%;

    @include media-tablet {
      width: 75%;
    }

    @include media-mobile {
      align-items: center;
      background: $navColor;
      flex-direction: column;
      height: 100vh;
      padding: 70px 0;
      position: fixed;
      top: 0;
      transition: all 0.3s ease-in-out;
      width: 60%;
    }
  }

  &__link {
    li {
      cursor: pointer;
      font-size: 14px;
      position: relative;
      text-transform: uppercase;

      &::after {
        background: none repeat scroll 0 0 transparent;
        background: $mainColor;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        top: 20px;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &:hover::after {
        left: 0;
        width: 100%;
      }

      @include media-tablet {
        font-size: 10px;
      }

      @include media-mobile {
        font-size: 14px;
      }
    }

    &_active {
      li::after {
        left: 0%;
        width: 100%;
      }
    }
  }
}
