@import '../../global-styles/colors.scss';
@import '../../global-styles/media';

.modal {
  background-color: rgba($color: #000, $alpha: 0.4);
  float: left;
  height: 50px;
  margin-top: 20px;
  width: 50px;
}

.Nav__login {
  width: 100px;

  @include media-tablet {
    font-size: 14px;
    width: 60px;
  }
}

.changeModal_input {
  font-size: 20px;
  margin-bottom: 10px;
}

.changeModal_input:hover {
  border-color: red;
}

.changeModal_input:focus {
  border-color: red;
  box-shadow: none;
}

.ant-modal-body .ant-input-affix-wrapper-focused {
  border-color: red;
  box-shadow: none;
}

.changeModal_input input {
  font-size: 20px;
}
